h1 {
    position: absolute;
    font-size: 500%;
    font-family: "UnifrakturMaguntia";
    color: rgb(99, 164, 91);
    top: 20%;
    left: 25%;
    
    
}

a {
    position: absolute;
    font-size: 300%;
    background-color: #8319e0;
    color: aliceblue;
    font-family: "Frijole", system-ui;
    top: 50%;
    left: 33%;
}