body {
    background: radial-gradient(var(--doll1), var(--doll2), var(--doll3));
    
    
    
}
audio {
    position: absolute;
    width: 300px;
    border-radius: 30px;
    accent-color: red;
    background-color: #304af2;
    left: 40vw;
}
 
h1 {

    position: absolute;
    font-size: 170px;
    font-family: "Melt-Swashes.ttf";
    color: azure;
    top: 20vh;
    left: 25vw;
    
    
}
h1:hover {
   color: rgb(132, 45, 172); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

a {
    position: absolute;
    font-size: 50px;
    background-color: #8319e0;
    text-decoration: none;
    color: aliceblue;
    font-family: "Frijole", system-ui;
    top: 200vh;
    left: 50vw;
}
a:visited, a:active {
    color:rgb(176, 206, 232);

}
h3 {
    position: absolute;
    font-size: 50px;
    font-family: "Lobster";
    color: #e30985;
    top: 100vh;
    left: 10vw;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    z-index: 1;
}
.portada {
    position: absolute;
    width: 400px;
    height: auto;
    border: blueviolet;
    border-radius: 50%;
    left: 50px;
    top: 200px;
}
.banner {
    position: absolute;
    width: 500px;
    height: auto;
    border: blueviolet;
    top: 80vh;
    left: 10vw;
}
.banner2 {
    position: absolute;
    width: 300px;
    height: auto;
    border: blueviolet;
    top: 95vh;
    left: 10vw;
    mix-blend-mode: multiply;
    z-index: 1;
}
.decor {
    position: absolute;
    width: 200px;
    height: auto;
    border: blueviolet;
    right: 100px;
    top: 300px;
    mix-blend-mode: multiply;
    transform: scaleX(100vh);
    
}
.decor:hover {
    transform: scaleX(100vh);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer {
  text-align: center;
  padding: 20px 0;
}
.love {
    position: absolute;
    height: 600px;
    width: 800px;
    background: radial-gradient(var(--love1), var(--love2), var(--love3));
    border-radius: 10%;
    top: 100vh;
    left: 10vw;
}
.horoscopo {
    position: absolute;
    height: 600px;
    width: 800px;
    top: 100vh;
    left: 10vw;
    background: linear-gradient(var(--horoscopo1), var(--horoscopo2), var(--horoscopo3));
    border-radius: 10% 40%;
    top: 100vh;
    left: 60vw;

}
.banner3 {
    position: absolute;
    width: 300px;
    height: auto;
    top: 89vh;
    left: 85vw;
    z-index: 1;
    
}
.banner4 {
   position: absolute;
    width: 300px;
    height: auto;
    top: 83vh;
    left: 76vw; 
    mix-blend-mode: multiply;
    
}

  .nav {
    flex-direction: column;
    gap: 10px;
  }
}

:root {
    --doll1: #c706af;
    --doll2: #c413f0;
    --doll3: #e30985;

    --back1: #c357ff;
    --back2: #6622e0;
    --back3: #304af2;

    --love1: #ea9dae;
    --love2: #fbde9c;
    --love3: #c74e51;

    --horoscopo1: #417c9c;
    --horoscopo2: #76a0b3;
    --horoscopo3: #d8ccc5;


}